@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofia&display=swap");

:root {
  --top-header-bg-clr: #1a1e5d;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  scroll-behavior: inherit !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #ff4328;
}

html,
body {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 0.8rem;
  font-weight: normal;
  color: #757f95;
  line-height: 1.8;
}

a {
  color: #091f3c;
  display: inline-block;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #091f3c;
  margin: 0px;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 0px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* TOP HEADER START */
.top-header {
  background: var(--top-header-bg-clr);
  .container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.top-header-left ul {
  display: flex;

  li {
    list-style-type: none;
    margin-right: 20px;

    align-items: center;
    a {
      font-weight: 600;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        color: #ff4328;
        transition: 250ms ease-in-out;
      }

      .call {
        transform: rotate(45deg);
      }
    }
  }
}

.top-header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top-header-right-lang {
  position: relative;
}

button {
  cursor: pointer !important;
  display: block;
  column-gap: 10px;
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
}

.select-language {
  font-size: 1rem;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-top: 2px solid #ff4328;
  color: #212529;
  transform: translateY(30px);
  width: 100px;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  li {
    transition: 0.2s;
  }

  li:hover {
    color: #ff4328;
  }
}

.hide-lang-menu {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-header-right-social {
  display: flex;
  gap: 10px;
  align-items: center;

  a {
    display: inline-flex;
    color: #ff4328;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
  }
  a:hover {
    background: #ff4328;
    color: #fff;
  }
}

/* TOP HEADER END */


/* SITE CUSTOME HEADER START */

.site-custom-header{
  position: relative !important;

}
.custom-header-tagline{
  text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 28px;
    font-weight: 600;
    color: #FF4328;
    font-family: 'Sofia', cursive;
  }

  .custom-header-title{    
    font-weight: 700;
    text-transform: capitalize;
    font-size: 50px;
    color: #091F3C;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .custom-header-shadow-title{
    top: 50%;
    left: 50%;
    display: block;
    font-size: 150px;
    font-weight: 600;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Sofia', cursive;
    color: rgba(34, 34, 34, 0.05);
  }
  
  /* SITE CUSTOME HEADER END */

/* MAIN HEADER START */
.hamburger {
  display: none;
  cursor: pointer;
  svg {
    color: #171718;
  }
}

.fixed {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  animation: slide-down 0.7s;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.17);
}
.main-header {
  padding: 20px 0;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    .active {
      color: #ff4328;
      &:hover {
        color: #ff4328;
      }
    }
  }

  .logo {
    height: 100%;
    img {
      height: 100%;
      display: block;
      cursor: pointer;
    }
  }

  .main-nav-menu {
    display: flex;
    align-items: center;

    li {
      margin-left: 30px;
      font-size: 1.1rem;
      font-weight: 500;
      color: #091f3c;

      a:hover {
        color: #46494c;
      }
    }
  }
}
/* MAIN HEADER END */

/* FOOTER START */
footer {
  background: #171718;
  color: #fff !important;

  .container {
    padding-bottom: 70px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    row-gap: 50px;
  }

  .foot-col {
    flex: 0 0 1;
    padding: 0 20px;

    img {
      cursor: pointer;
    }
  }

  .footer-logo {
    flex-basis: 33%;
  }
  .newsletter {
    flex-basis: 25%;
  }

  .footer-contact li:nth-child(1) .icons {
    background: #fec931;
  }

  .footer-contact li:nth-child(2) .icons {
    background: #ff4328;
  }
  .footer-contact li:nth-child(3) .icons {
    background: #209ffa;
  }

  .footer-contact li .icons {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
    fill: #fff;
    stroke-width: 0;
  }

  img {
    cursor: pointer;
    width: 100px;
    display: block;
  }
  h4 {
    color: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
  }

  h4::after {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff4328;
  }
  h4::before {
    content: "";
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333334;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    li {
      display: flex;
      align-items: center;
      column-gap: 10px;
      transition: 0.5s ease-in-out;
    }
  }

  li:hover {
    transform: translateX(5px);
  }

  a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
  }
  svg {
    stroke-width: 1px;
    color: #ff4328;
  }

  a:hover {
    color: #ff4328;
  }

  .newsletter {
    input,
    button {
      display: block;
      width: 100%;
      margin-top: 20px;
      padding: 15px;
    }

    input {
      border: 2px solid #fff;
      font-size: 1rem;
      background-color: transparent;
      color: #fff;
      outline: none;
      font-weight: 600;
      border-radius: 5px;
    }

    input::placeholder {
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 2px;
    }

    button {
      font-weight: 600;
      font-size: 1rem;
      color: #ffffff;
      transition: all 0.5s;
      text-transform: capitalize;
      cursor: pointer;
      text-align: center;
      border: none;
      border-radius: 8px;
      background: #ff4328;
      box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &:hover {
        background-color: #fff;
        color: #ff4328;
      }

      .icons {
        fill: #fff;
        stroke: 0;
      }
    }
  }
}
.footer-end {
  background: #000;
  padding: 20px 0 !important;
  color: #fff;
  font-weight: 600;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .footer-social-media {
    .footer-social-media-links {
      display: flex !important;
      flex-direction: row;
      gap: 20px;
      li {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        background: #212529;
        svg {
          fill: #fff;
        }
        &:hover {
          background: #ff4328;
        }
      }
    }
  }
}
/* FOOTER END */

/* CONTACT START */
.site-breadcrumb-contact-us {
  background: linear-gradient(rgba(0, 0, 0, 0.424), rgba(0, 0, 0, 0.54)),
    url("./img/contactBg.jpg");
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  background-position: center;
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 40px;
      color: #fff !important;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      li a {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;

        &.active {
          color: #ff4328 !important;
          &::before {
            content: "//";
            margin-right: 10px;
            color: #fff;
          }
        }
      }
    }
  }
}

.contact_us_section {
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 120px;

    .address-col {
      flex-basis: 35%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .address-row {
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        display: grid;
        gap: 20px;
        grid-template-columns: 60px 1fr;
        align-items: center;

        .address-icon {
          height: 60px;
          width: 60px;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }

    .address-location {
      border: 2px solid #0084ff;
    }
    .contact-icon {
      background: #0084ff;
    }

    .call-us {
      border: 2px solid #37b546;
    }
    .call-us-icon {
      background: #37b546;
    }

    .email-us {
      border: 2px solid #fd4a36;
    }
    .email-us-icon {
      background: #fd4a36;
    }

    .office-open {
      border: 2px solid #ffb400;
    }
    .office-open-icon {
      background: #ffb400;
    }

    .contact-address {
      display: grid;
      place-content: center;
      height: 100%;
      border-radius: 5px;
      svg {
        fill: #fff;
      }
    }

    p {
      font-weight: 400;
      font-size: 1rem;
    }
    h5 {
      font-weight: 600;
      font-size: 22px;
    }
  }
  .message-col {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 20px;
    flex-basis: 60%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 15px 10px;
      border-radius: 5px;
      border: 1px solid #757f95;
      outline: none;
      font-size: 1rem;
    }

    input:focus,
    textarea:focus {
      border: 1px solid #fd4a36;
    }

    textarea {
      resize: vertical;
      font-family: "Roboto", "Sans-serif";
    }
  }

  .name-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .send-btn {
    background: #ff4328;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out !important;
    button {
      font-size: 1rem;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      padding: 7px 15px;
    }
    .send-icon {
      height: 40px;
      width: 40px;
      display: grid;
      place-content: center;
      padding: 10px;
      border-radius: 50%;
      background: #1a1e5d;
    }
  }

  .send-btn:hover {
    background: #000;
  }
}

.google-map-iframe {
  display: block;
  width: 100%;
  height: 500px;
  border: none;

  iframe {
    zoom: none;
  }
}

/* CONTACT END */

/* ABOUT US START */

.site-breadcrumb-about-us {
  background: linear-gradient(rgba(0, 0, 0, 0.424), rgba(0, 0, 0, 0.54)),
    url("./img/aboutBG.jpg");
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  background-position: center;
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 40px;
      color: #fff !important;
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      li a {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;

        &.active {
          color: #ff4328 !important;
          &::before {
            content: "//";
            margin-right: 10px;
            color: #fff;
          }
        }
      }
    }
  }
}

.about-us {
  margin: 120px 0;
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    
  }
  .ready-to-work-about {
    flex-basis: 40% !important;
    flex-grow: 1;
    border-radius: 10px;
    overflow: visible !important;
    position: relative !important;
  }

  .ready-to-work-img {
    overflow: hidden !important;
    height: 100%;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }

  span.shadow {
    position: absolute;
    background: #ff4328;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    left: -15px;
    top: 14px;
  }

  .about-us-col-2{
    flex-basis: 40%;
    flex-grow: 1;
p{
  padding: 20px 0;
}

    p, li{
      font-size: 1rem;
    }
  }
}

/* ABOUT US END */




/* PRELOADER START */
.preloader {
  background: #1A1E5D;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
}

.loader {
  width: 80px;
  height: 80px;
  position: relative;
  top: calc(50% - 55px);
  left: calc(50% - 40px);
}

.loader:before,
.loader:after {
  content: '';
  border: 5px solid #fff;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}


/* PRELOADER END */



/* ANIMATION START */


@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
/* ANIMATION END */
