.pb{
  padding-bottom: 20px;
}

@media (max-width: 791px) {
  .hamburger {
    display: block;
    z-index: 9999 !important;
  }
  .top-header-right-social {
    display: none;
  }

  .name-email {
    grid-template-columns:1fr !important;
  }


  .open-nav {
    display: block !important;
    transform: translateX(0%) !important;
  }

  .navbar {
    display: none;
    right: 0;
    top: 0;
    left: 0;
    width: 100vw;
    position: absolute;
    transform: translateX(-120%);
    transition: 150ms ease-in-out;
    z-index: 9999;
    background: transparent;

    .main-nav-menu {
      background: #ffffff;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 20px 0;
      transform: translateY(30%);
    }
  }
}

/* FOOTER */
/* 320px — 480px: Mobile devices. */
@media (max-width: 480px) {
  body{
    body {
      font-size: .8rem;
  }
  top-header {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .main-header {
    padding: 10px 0;
    .container {
      height: 30px;
    }
  }
  .lang-button {
    height: 40px;
  }
  footer .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    padding-bottom: 30px;
    padding-top: 40px;
  }
.top-header-left{
  .top-header-left-contact,
  .top-header-right, span {
    font-size: x-small !important;
  }

}

  .lang-button {
    svg {
      width: 10px !important;
      height: 10px !important;
    }
  }

  footer {
    & .foot-col {
        img {
            cursor: pointer;
            width: 100px;
        }
    }
}

.footer-end {
  .wrapper {
      justify-content: center;
      gap: 20px;
  }
}
.foot-col{
  padding: 0 !important;
}
}}

/* 481px — 768px: iPads, Tablets. */
@media (max-width: 768px) {
  .name-email {
    grid-template-columns:1fr !important;
  }

}

/* 769px — 1024px: Small screens, laptops. */
@media (max-width: 1024px) {
  .name-email {
    grid-template-columns:1fr !important;
  }
  .contact_us_section {
    .container {
      flex-direction: column;
    }
}

}



/* 1025px — 1200px: Desktops, large screens. */
@media (min-width: 1200px) {
}

/* 1201px and more — Extra large screens, TV. */
@media (min-width: 1201px) {
}
